/* $Id: */

/**
 *Drupal default resets
 */
a.feed-icon  {
  border:0;
}
tbody,
thead th  {
  border-top:none;
  border-bottom:none;
}
div.status  {
 margin:0 0 10px;
}
div.status a{
  border:none;
  color:#E8D1A8;
}
/* Tabs */
div.tabs ul.primary {
  border:none;
}
div.tabs ul.primary li a  {   
  background:url(../images/footer.jpg);   
  border:0 none;
  color:#FFF;      
  opacity:0.8;
  padding:5px 16px;
}
div.tabs ul.primary li a:hover {
  opacity:1.0;  
}
div.tabs ul.primary li.active a {
  opacity:0.7;
}
li a.active {
  color:#FFF;
}

/* administer Blocks page */
div.block-region {
  color:#000;
}
table.sticky-header  thead tr th  {
  background:#FFF;
  color:#000;
}
table#blocks thead {
  background:#FFFFFF;
}
table#blocks thead th {
  background:#FFF;      
  color:#000;
  padding:5px;
}
table#blocks tr.draggable td {  
  color:#000;  
  padding:5px;
}
table#blocks tr.draggable td a{
  font-weight:700; 
}
#blocks td.region {
  background:#3F3F3F;
  color:#FFF;
  font-weight:bold;
}
table#blocks a.tabledrag-handle {
  border:none;
}
table#blocks td a{
  color:#1F1F1F;
}
 

/*Theme settings page*/
table.sticky-table  {           
  background-color:none;
  color:#000;
}

/*  Pager  */
ul.pager li,
ul.pager li a { 
  color:#FFF;
  margin:0;
  padding:0;
}
ul.pager li a {
  border-bottom:1px solid #FFF;
}

