
/**
 *  -Color Palette-
 * #E8D1A8 - Lighter brown
 * #B7AFA4 - Darker brown
 * #C1DAD7 - Light green
 * #F6FAFB - Grey/Almost white
 * #ACD2E9 - Light blue
 * #6D929B - Dark Green
 */
 
/* General classes and resets */  
*{margin:0; padding:0;}
body{ margin:0; padding:0; background: url(../images/background.jpg) repeat; color:#FFF; font-family: Arial, Helvetica Neue, Helvetica, sans-serif;}
.right{float:right;}
.left{float:left;}
.clear{clear:both}
ul,ol{list-style-position:inside;}
img{border:none;}

/*Basic typography*/
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 21px;
  margin:0 0 10px;
  word-spacing: 0.15em;
}
a {
  color:#FFF; 
  border-bottom:2px solid #C1DAD7; 
  text-decoration:none;
}
a:hover {
  color:#E8D1A8;
}
blockquote {
  border:1px solid #2F2F2F; 
  margin:10px 0;
  padding:10px;
}
blockquote p:before {  
  content: '"'; 
  font-weight:700;  
}
blockquote p:after {
  content: '"'; 
  font-weight:700;
}
div#page-wrap ol,
div#page-wrap ul {/*targets #page-wrap only to prevent interference with admin_menu module*/
  margin:5px 0;
	padding-left: 10px;
}
thead{
  border:1px solid #7F7F7F;
}
thead tr th{
  background:#2F2F2F;
  color:#FFF;
  padding:5px;
}
td{           
  border:1px solid #7F7F7F;
  padding:7px;
}
td a {
  color:#000;
}


/**
 *  General page layout  and styles
 * */
div#page-wrap {
  background:url(../images/main-section.jpg) repeat; 
  margin:25px auto 0;
  overflow:hidden;
  width:960px;
}
   
/**
 *  Header  
 */
div#header {      
  background:url(../images/header.jpg) repeat;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
  margin:0 0 25px;
  padding:5px;
  overflow:hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
 
}
a img#logo {/*site logo*/
  margin:3px 5px 3px 3px;
}
div#header h1 a {/*site name/title*/   
  border:none;
  margin:0 0 0 0px;
  text-shadow:2px 2px 0  rgba(0, 0, 0, 0.7); 
}
div#header h1 a:hover {
  color:#FFF;
  text-shadow:2px 2px 3px  rgba(0, 0, 0, 1.0);
}
div#nav{
  margin:6px 0 0;
}
div#nav ul {/* $primary_links navigation*/      
  border:none;
  padding:0;
}
div#nav ul li  {    
  display:inline;
  margin:0 10px 0 0;
  padding:0;
}
div#nav ul li a{   
  border:none;          
  border-radius: 10px; 
  color:#F6FAFB;    
  font-size:16px;
  padding:7px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
div#nav ul li a:hover {
  background:#112D34;
}
div#nav ul li.active a,
div#nav ul li.active a:hover {      
  background:#E8D1A8;
  color:#112D34;
}

/**
 *  Main section  
 */

/*  main-content  */
div#main-content {
  padding:0 10px 10px 20px;
  width:590px;
}
div.article {
  margin:0 0 25px;
  padding:0 0 10px;
}
body.page-node h2#page-title span,
h2.node-title ,
h3#comments-header span {
  margin:0 0 0 -10px;
}
body.page-node h2#page-title span,
h2.node-title a,
h3#comments-header span {               
  background:url(../images/node-title.jpg) repeat;     
  border:none;                                 
  color:#DFDFDF;
  opacity:0.8;
  padding:1px 5px;
}
h2.node-title a:hover  {          
  border-right:2px solid #FFF;
  opacity:1.0;
}
div.submitted {  
  background:url(../images/clock.png) no-repeat;
  color:#C1DAD7;
  margin:8px 0 0;
  padding:0 0 5px 24px;
  font-size:14px;
}
div.node-content {
  margin:0 0 0;
  padding:0 0 10px;
}
/* node Links*/
ul.links {
  border:1px solid #2F2F2F;
  margin:0;
  padding:5px;
}
ul.links li {
  margin:0 7px 0 0;
  padding:0;
  text-indent:0em;
}
ul.links a {
  border:none;
}
/* comment form  */
form#comment-form textarea,
form#comment-form input {        
  background:#414141;/*Fallback for non RGBa support*/
  background:rgba(149, 149, 149, 0.4); 
  border:none;
  color:#FFF;
  padding:5px;
  font-family: "Lucida Grande", sans-serif;
  font-size: 14.67px;
  line-height: 1.5em;
}
form#comment-form input.form-submit {
  margin:0 0 10px; 
  border-radius:5px;
  -moz-border-radius:5px;
  -web-border-radius:5px;
}
form#comment-form input.form-submit:hover {
  cursor:pointer;
}
/*  Comments  */
div#comments {
  margin:25px 0 0;
  padding:10px;
}
div#comments div.submitted {       
  background:none;
  padding:0;
}
div.comment {
  border-bottom:1px solid #4F4F4F;
  margin:10px 0;
}
div.comment h3 a {
  border:0 none;
}
h3#comments-header span {     
  background:url(../images/node-title.jpg) repeat;    
  border:none;   
  color:#DFDFDF;
  margin:0 0 0 -20px;
  opacity:0.8;
  padding:3px 5px;
}
div#comments ul.links {
  border:none;
}
li.comment_reply a {   
  background:#FFF;       
  border-radius: 5px;   
  color:#000;   
  font-size:.8em;
  padding:3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
html.js fieldset.collapsible legend a{
  background-color:#4F4F4F;
  border:0 none;
  padding:3px 3px 3px 15px;
}

/* Pager */
.item-list .pager li {      
  background:#3F3F3F; 
  border: 1px solid #8F8B86;
  font-size:13px;
  padding: 3px 5px;
}
.item-list .pager a {
  border:0 none;
}
.item-list .pager  li.pager-current {
  background:#AFAFAF;
  color:#000;
  padding:3px 5px;
}


/**
 *  Right sidebar 
 **/
div.aside{
  width:317px;
}
div.aside div.block {
  margin:0 0 10px;
}
div.aside h3.block-title {/*right sidebar block title*/  
  background: url(../images/aside-title.jpg) bottom right no-repeat #C1DAD7;  
  color:#000;  
  font-size:1.1em;
  padding:3px 0 10px 5px;
  text-shadow:1px 1px 0 #FFF;
}
div.aside div.content{/*right sidebar block content*/    
  padding:0 10px;
  width:290px;
}
div.aside div.content p{
  font-size:13px;
  line-height:15px;
}
/*  login block  */
div.block-user  h3.block-title {
  background:url(../images/user.png) no-repeat;
  color:#FFF;
  margin:0 0 0 5px;
  padding:0 0 0 25px;
  text-shadow:1px 1px 1px #000;   
}
form#user-login-form .item-list ul li {   
  margin:0;
  list-style:none;
  padding:0;
}
form#user-login-form .item-list ul li a {
  border:none;
  margin:0 0 0 20px;
}
form#user-login-form label {
  float:left;
}
form#user-login-form .form-text {
  padding:2px;                    
  width:175px;
}
form#user-login-form .form-submit {    
  background:url(../images/submit-button.jpg) repeat-x;   
  border:none;  
  border-radius:5px;
  color:#383838;
  float:left;
  font-weight:700;
  padding:5px 10px;
  text-shadow:.1em 0.1em 0.1em #FFFFFF;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
form#user-login-form .form-submit:focus{
  background:#959595;
}
form#user-login-form .form-submit:hover {
  cursor:pointer;
}
span.form-required {
  color:#EFAD3B;
}
/**
 *  Footer 
 **/
div#footer {  
  background:url(../images/footer.jpg) repeat;
  border-top:1px solid #ACD2E9;
  border-left:1px solid #ACD2E9;
  border-right:1px solid #ACD2E9; 
  box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.75); 
  padding:5px 10px 0px 10px;   
  overflow:hidden; 
  -webkit-box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.75);
}
div#footer p{
   font-size:13px;
}
div#footer .right a.feed-icon {/*styles the feed icon for right footer region*/
  float:right;
}
